.HabitView {
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    border-radius: 10px;
    padding: 20px;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    width:50;
    height:auto;
}

.HabitView label {
    color: black;
}

